[submodule "coin3d"]
	path = coin3d
	url = https://github.com/conda-forge/coin3d-feedstock
[submodule "simage"]
	path = simage
	url = https://github.com/conda-forge/simage-feedstock
[submodule "occt"]
	path = occt
	url = https://github.com/conda-forge/occt-feedstock
[submodule "pivy"]
	path = pivy
	url = https://github.com/conda-forge/pivy-feedstock
[submodule "netgen"]
	path = netgen
	url = https://github.com/conda-forge/netgen-feedstock
[submodule "libmed"]
	path = libmed
	url = https://github.com/conda-forge/libmed-feedstock
[submodule "smesh"]
	path = smesh
	url = https://github.com/conda-forge/smesh-feedstock
